<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <titl>FlaskApp Demo</titl>
    <style>
        /* CSS */
        .user {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }

        h1 {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

        table, th, td {
            border: 1px solid;
        } 

        table {
            width: 50%;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>Student Info Search</h1>
    <hr>
    <div class="content">
        <input type="text" id="search_name"></input>
        <button onclick="search(document.getElementById('search_name').value)" type="submit">Search</button>
        <h2>Search Results</h2>
        <table id="search-table"></table>
    </div>

    <!-- We need Jquery to perform an API request -->
    <!-- The code below is similar to an import statement in python. Allows us to use Jquery -->
    <!-- Javascript library which allows us to handle HTTP requests -->
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" 
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer">
    </script>

    <script>
        // frontend search
        function search(name) {
 
            // allows us to update a webpage without reloading it 
            $.ajax({
                // url for API request which gets all data from database
                url: '/api/all',
                type: 'GET',

                success: function(result) {
                    // create header for the result table 
                    let headerHTML = `
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                    `;
                    // setting innerHTML (HTML inside a tag) of <table id="search-table"></table> to be headerHTML 
                    document.getElementById("search-table").innerHTML = headerHTML;
                    
                    // looping through raw data to find the searched name 
                    for (const [key, user] of Object.entries(result)) {
                        if (user[1].includes(name)) {
                            console.log(name, user);
                            document.getElementById("search-table").innerHTML += `
                                <tr>
                                    <td> ${user[0]} </td>
                                    <td> ${user[1]} </td>
                                    <td> ${user[2]} </td>
                                </tr>
                            `;
                        }
                        
                    }
                }
            });
        }

    </script>
</body>
</html>