html,
body {
  margin: 0;
  padding: 0;
}

/* Make this div the entire page so the button can use the percentage of the page's size
so the button sizes change when we resize the window */
#Floor{
    position: relative;
    
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;

    background-repeat: no-repeat;
    background-image: url(new_floor_plan.png);

}

.round{
    border-radius: 7%;
}

.circle{
    border-radius: 50%;
}

.change_color{
    background-color: rgb(85, 194, 85)
}

.hover_border:hover {
    background-color: rgb(231, 238, 231); 
    color: black; 
    border: 2px solid rgb(0, 0, 0);
}

.clicky:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

.font{
    font-family: "Courier New", monospace;
    font-weight: 900;
    font-size: 20px;
}