html,
body {
  margin: 0;
  padding: 0;
}

/* Make this div the entire page so the button can use the percentage of the page's size
so the button sizes change when we resize the window */
#Floor{
    position: relative;

    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;

    background-repeat: no-repeat;
    background-image: url(new_floor_plan.png);

}

/* Room 100 */

.Science_Commons_Lobby.active{
    background:red;
    color: white;
    width: 21%;
    height: 29%;
    top: 33%;
    left: 77%;
    border: transparent;
}
.Science_Commons_Lobby{
    position: absolute;
    background: green;
    color: white;
    width: 21%;
    height: 29%;
    top: 33%;
    left: 77%;
    border: transparent;
}

/* Room 104 */

.Group_Study.active{
    background:red;
    color: white;
    width: 9%;
    height: 21%;
    bottom: 3%;
    left: 45%;
    border: transparent;
}
.Group_Study{
    position: absolute;
    background: green;
    color: white;
    width: 9%;
    height: 21%;
    bottom: 3%;
    left: 45%;
    border: transparent;
}

/* Room 107 */

.Physics_Lounge.active{
    background:red;
    color: white;
    width: 12%;
    height: 25%;
    top: 42%;
    right: 61%;
    border: transparent;
}
.Physics_Lounge{
    position: absolute;
    background: green;
    color: white;
    width: 12%;
    height: 25%;
    top: 42%;
    right: 61%;
    border: transparent;
}

/* Table 1 */

.Table_1.active{
    background:red;
    color: white;
    width: 2%;
    height: 14%;
    top: 15%;
    right: 13%;
    border: transparent;
}
.Table_1{
    position: absolute;
    background: green;
    color: white;
    width: 2%;
    height: 14%;
    top: 15%;
    right: 13%;
    border: transparent;
}

/* Table 2 */

.Table_2.active{
    background:red;
    color: white;
    width: 2%;
    height: 14%;
    top: 15%;
    right: 8%;
    border: transparent;
}
.Table_2{
    position: absolute;
    background: green;
    color: white;
    width: 2%;
    height: 14%;
    top: 15%;
    right: 8%;
    border: transparent;
}

/* Table 3 */

.Table_3.active{
    background:red;
    color: white;
    width: 2%;
    height: 14%;
    top: 15%;
    right: 3.5%;
    border: transparent;
}
.Table_3{
    position: absolute;
    background: green;
    color: white;
    width: 2%;
    height: 14%;
    top: 15%;
    right: 3.5%;
    border: transparent;
}

/* Room 1000 */

.Vestibule.active{
    background:red;
    color: white;
    width: 12%;
    height: 20%;
    top: 3%;
    right: 18.5%;
    border: transparent;
}
.Vestibule{
    position: absolute;
    background: green;
    color: white;
    width: 12%;
    height: 20%;
    top: 3%;
    right: 18.5%;
    border: transparent;
}

/* Room 101 */

.Science_Commons_Collaboratory.active{
    background:red;
    color: white;
    width: 14%;
    height: 32%;
    top: 3%;
    right: 31.5%;
    border: transparent;
}
.Science_Commons_Collaboratory{
    position: absolute;
    background: green;
    color: white;
    width: 14%;
    height: 32%;
    top: 3%;
    right: 31.5%;
    border: transparent;
}

/* Room ? */

.Question_Mark.active{
    background:red;
    color: white;
    width: 22%;
    height: 24%;
    top: 42%;
    right: 24.5%;
    border: transparent;
}
.Question_Mark{
    position: absolute;
    background: green;
    color: white;
    width: 22%;
    height: 24%;
    top: 42%;
    right: 24.5%;
    border: transparent;
}

/* Room 105 */

.I_Dunno.active{
    background:red;
    color: white;
    width: 8%;
    height: 24%;
    top: 42%;
    right: 47.5%;
    border: transparent;
}
.I_Dunno{
    position: absolute;
    background: green;
    color: white;
    width: 8%;
    height: 24%;
    top: 42%;
    right: 47.5%;
    border: transparent;
}

/* Room 111 */

.Intro_Physics_Lab.active{
    background:red;
    color: white;
    width: 23%;
    height: 32%;
    top: 42%;
    right: 74.5%;
    border: transparent;
}
.Intro_Physics_Lab{
    position: absolute;
    background: green;
    color: white;
    width: 23%;
    height: 32%;
    top: 42%;
    right: 74.5%;
    border: transparent;
}

/* Room 106 */

.Science_Commons_Workroom.active{
    background:red;
    color: white;
    width: 31%;
    height: 20%;
    top: 76%;
    right: 14.5%;
    border: transparent;
}
.Science_Commons_Workroom{
    position: absolute;
    background: green;
    color: white;
    width: 31%;
    height: 20%;
    top: 76%;
    right: 14.5%;
    border: transparent;
}

/* Room 108 */

.CS_Hardware_Interface_Lab.active{
    background:red;
    color: white;
    width: 6%;
    height: 20%;
    top: 76%;
    right: 60.5%;
    border: transparent;
}
.CS_Hardware_Interface_Lab{
    position: absolute;
    background: green;
    color: white;
    width: 6%;
    height: 20%;
    top: 76%;
    right: 60.5%;
    border: transparent;
}

/* Room 110 */

.Physics_Faculty_Lab_Computational.active{
    background:red;
    color: white;
    width: 6%;
    height: 20%;
    top: 76%;
    right: 67.5%;
    border: transparent;
}
.Physics_Faculty_Lab_Computational{
    position: absolute;
    background: green;
    color: white;
    width: 6%;
    height: 20%;
    top: 76%;
    right: 67.5%;
    border: transparent;
}

/* Room 112 */

.Physics_Faculty_Lab_Laser.active{
    background:red;
    color: white;
    width: 6%;
    height: 20%;
    top: 76%;
    right: 74.5%;
    border: transparent;
}
.Physics_Faculty_Lab_Laser{
    position: absolute;
    background: green;
    color: white;
    width: 6%;
    height: 20%;
    top: 76%;
    right: 74.5%;
    border: transparent;
}

/* Room 114 */

.Physics_Storage.active{
    background:red;
    color: white;
    width: 16%;
    height: 20%;
    top: 76%;
    right: 81.5%;
    border: transparent;
}
.Physics_Storage{
    position: absolute;
    background: green;
    color: white;
    width: 16%;
    height: 20%;
    top: 76%;
    right: 81.5%;
    border: transparent;
}