html,
body {
  margin: 0;
  padding: 0;
}

/* Make this div the entire page so the button can use the percentage of the page's size
so the button sizes change when we resize the window */
#Floor{
    position: relative;

    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;

    background-repeat: no-repeat;
    background-image: url(new_floor_plan.png);

}

/* Room 100 */

.Science_Commons_Lobby.active{
    background:red;
    color: white;
    width: 21%;
    height: 29%;
    top: 33%;
    left: 77%;
    border: transparent;
}
.Science_Commons_Lobby{
    position: absolute;
    background: green;
    color: white;
    width: 21%;
    height: 29%;
    top: 33%;
    left: 77%;
    border: transparent;
}

/* Room 104 */

.Group_Study.active{
    background:red;
    color: white;
    width: 9%;
    height: 21%;
    bottom: 3%;
    left: 45%;
    border: transparent;
}
.Group_Study{
    position: absolute;
    background: green;
    color: white;
    width: 9%;
    height: 21%;
    bottom: 3%;
    left: 45%;
    border: transparent;
}

/* Room 107 */

.Physics_Lounge.active{
    background:red;
    color: white;
    width: 12%;
    height: 25%;
    top: 42%;
    right: 61%;
    border: transparent;
}
.Physics_Lounge{
    position: absolute;
    background: green;
    color: white;
    width: 12%;
    height: 25%;
    top: 42%;
    right: 61%;
    border: transparent;
}

/* Table 1 */

.Table_1.active{
    background:red;
    color: white;
    width: 2%;
    height: 14%;
    top: 15%;
    right: 13%;
    border: transparent;
}
.Table_1{
    position: absolute;
    background: green;
    color: white;
    width: 2%;
    height: 14%;
    top: 15%;
    right: 13%;
    border: transparent;
}

/* Table 2 */

.Table_2.active{
    background:red;
    color: white;
    width: 2%;
    height: 14%;
    top: 15%;
    right: 8%;
    border: transparent;
}
.Table_2{
    position: absolute;
    background: green;
    color: white;
    width: 2%;
    height: 14%;
    top: 15%;
    right: 8%;
    border: transparent;
}

/* Table 3 */

.Table_3.active{
    background:red;
    color: white;
    width: 2%;
    height: 14%;
    top: 15%;
    right: 3.5%;
    border: transparent;
}
.Table_3{
    position: absolute;
    background: green;
    color: white;
    width: 2%;
    height: 14%;
    top: 15%;
    right: 3.5%;
    border: transparent;
}


